## SukiSU Ultra support config fragment

CONFIG_KSU_SUKI=y

#
# KernelSU
#
CONFIG_KSU=y
# CONFIG_KSU_DEBUG is not set
# CONFIG_KSU_MULTI_MANAGER_SUPPORT is not set
CONFIG_KSU_MANUAL_HOOK=y
# CONFIG_KSU_THRONE_TRACKER_LEGACY is not set
# CONFIG_KSU_ALLOWLIST_WORKAROUND is not set
CONFIG_KSU_MANUAL_SU=y
# CONFIG_KSU_CMDLINE is not set
CONFIG_KPM=y

#
# KernelSU - SUSFS
#
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_HAS_MAGIC_MOUNT=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSU_DEFAULT_MOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
# CONFIG_KSU_SUSFS_SUS_OVERLAYFS is not set
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_TRY_UMOUNT_FOR_BIND_MOUNT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
# CONFIG_KSU_SUSFS_ENABLE_LOG is not set
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
# CONFIG_KSU_SUSFS_SUS_SU is not set
# CONFIG_KSU_SUSFS_SUS_MAP is not set
# end of KernelSU - SUSFS
# end of KernelSU
# end of Device Drivers
